body {
  font-family: 'Source Sans Pro', 'Trebuchet MS', 'Lucida Grande', 'Bitstream Vera Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  text-align: center;
  color: #333333;
}

body > div {
  padding: 35vh 16px 16px 16px;
}

img {
  height: 30vh;
  width: auto;
  margin-bottom: 16px;
}
